<!DOCTYPE html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sirvo Styleguide">

        <title>Sirvo Styleguide</title>

        <!-- Import web fonts using the link tag instead of CSS @import: http://stackoverflow.com/questions/12316501/including-google-web-fonts-link-or-import -->
        <link rel="stylesheet" href="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- Favicon.ico and apple-touch-icon.png (according to Apple docs). A good tool is http://iconogen.com/. Place these in the root directory. -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">

    </head>

    <body>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
