<!DOCTYPE html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sirvo Styleguide">

        <title>Sirvo Styleguide</title>

        <!-- Typekit -->
        <script src="//use.typekit.net/qqp3obe.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <!-- Import web fonts using the link tag instead of CSS @import: http://stackoverflow.com/questions/12316501/including-google-web-fonts-link-or-import -->
        <link rel="stylesheet" href="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="css/production.css">

        <!-- Favicon.ico and apple-touch-icon.png (according to Apple docs). A good tool is http://iconogen.com/. Place these in the root directory. -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">

    </head>

    <body>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="clearfix">

            <!-- #Nav -->
            <div class="sg-nav float-left one-fifth scroll-overflow full-height pt2 pb2 white-text darkest-gray-background">
                <a class="sg-nav-link mb3 bold" href="/">Sirvo Styleguide</a>
                <ul class="no-bullets m0">
                    <li><a class="sg-nav-link" href="/typography.html">Typography</a></li>
                    <li><a class="sg-nav-link" href="/forms.html">Forms</a></li>
                    <li><a class="sg-nav-link" href="/buttons.html">Buttons</a></li>
                    <li><a class="sg-nav-link" href="/tables.html">Tables</a></li>
                    <li><a class="sg-nav-link" href="/colors.html">Colors</a></li>
                    <li><a class="sg-nav-link" href="/images-videos.html">Images & Videos</a></li>
                    <li><a class="sg-nav-link" href="/alerts.html">Alerts</a></li>
                    <li><a class="sg-nav-link" href="/code.html">Code</a></li>
                    <li><a class="sg-nav-link" href="/grid.html">Grid</a></li>
                    <li><a class="sg-nav-link" href="/icons.html">Icons</a></li>
                </ul>
            </div>

            <!-- #Content -->
            <div class="sg-content float-left four-fifths scroll-overflow full-height almost-white-background p4">
