// Normalization
// -----------------------------------------------------------------------------
// Make font family consistent
code, kbd, pre, samp { font-family: $font-family--code; }


// Base code styles
// -----------------------------------------------------------------------------
.inline-code {
    background-color: $code-background-color;
    border-radius: $border-radius;
    color: $code-color;
    max-width: 100%;
    padding: $baseline/2 $baseline;
}

.code-block {
    color: $code-color;
    display: block;
    line-height: $line-height--base;
    max-width: 100%;
    overflow-x: scroll;
    padding: $ui-padding--large;
}
