// Text colors
// -----------------------------------------------------------------------------
.white-text                   { color: $white; }
.lightest-gray-text           { color: $lightest-gray; }
.light-gray-text              { color: $light-gray; }
.gray-text                    { color: $gray; }
.dark-gray-text               { color: $dark-gray; }
.darkest-gray-text            { color: $darkest-gray; }
.primary-brand-color-text     { color: $brand-color--primary; }
.secondary-brand-color-text   { color: $brand-color--secondary; }
.tertiary-brand-color-text    { color: $brand-color--tertiary; }

.text-color--light            { color: $text-color--light }


// Background colors
// -----------------------------------------------------------------------------
.white-background                  { background-color: $white; }
.almost-white-background           { background-color: $almost-white; }
.lightest-gray-background          { background-color: $lightest-gray; }
.light-gray-background             { background-color: $light-gray; }
.gray-background                   { background-color: $gray; }
.dark-gray-background              { background-color: $dark-gray; }
.darkest-gray-background           { background-color: $darkest-gray; }
.primary-brand-color-background    { background-color: $brand-color--primary; }
.secondary-brand-color-background  { background-color: $brand-color--secondary; }
.tertiary-brand-color-background   { background-color: $brand-color--tertiary; }

.darken-background                 { background-color: $darken; }
