// Styleguide Variables
// -----------------------------------------------------------------------------
$sg-padding: $baseline $baseline*4;


// Styleguide Type
// -----------------------------------------------------------------------------
.sg-title {
    padding: $sg-padding;
}


// Styleguide Nav
// -----------------------------------------------------------------------------
.sg-nav-link,
.sg-nav-link:link,
.sg-nav-link:visited {
    background-image: none; // Reset unusual Firefox-on-Android default style: https://github.com/necolas/normalize.css/issues/214
    color: #fff;
    cursor: pointer;
    display: block;
    padding: $sg-padding;
    text-decoration: none;
    transition: background-color $fade, background $fade;
    -webkit-appearance: none;
            appearance: none;
}

.sg-nav-link:hover,
.sg-nav-link:focus {
    background-color: $dark-gray;
    outline: 0;
    text-decoration: none;
}
