// Global
// -----------------------------------------------------------------------------
// Baseline
$baseline: .4rem;

// Breakpoints
// Mobile Safari has problems with rems being used in media queries
$breakpoint--small: 40em;
$breakpoint--medium: 50em;
$breakpoint--large: 60em;

// Max container width
$max-container-width: 45em;


// Typography
// -----------------------------------------------------------------------------
// Font families
$sans-serif: "museo-sans", Trebuchet, Verdana, sans-serif;
$serif: Georgia, Times, serif;
$monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

$font-family--base: $sans-serif;
$font-family--heading: $sans-serif;
$font-family--reading: $serif;
$font-family--ui: $sans-serif;
$font-family--code: $monospace;

// Type scale
// Good tool: http://type-scale.com/
$h1: 2.369rem;
$h2: 1.777rem;
$h3: 1.333rem;
$h4: 1rem;
$h5: .75rem;
$h6: .75rem;

// Finer control over type scale after certain breakpoint (off by default)
$responsive-type: false;
$desktop-h1: 2.369rem;
$desktop-h2: 1.777rem;
$desktop-h3: 1.333rem;
$desktop-h4: 1rem;
$desktop-h5: .75rem;
$desktop-h6: .75rem;

// Text sizes
$base-font-size--mobile: 14px;
$base-font-size--desktop: 18px;
$font-size--large: $h3;
$font-size--small: $h5;

// Weights
$font-weight--base: 300;
$font-weight--heading: 900;

// Line heights
$line-height--base: $baseline*4;
$line-height--heading: 1;


// Colors
// -----------------------------------------------------------------------------
// Color by name
// Change these colors to something other than "darker"
$white: #fff;
$lightest-gray: #e7eaee;
$light-gray: #a1adbc;
$gray: #708299;
$dark-gray: #44505f;
$darkest-gray: #2f3741;
$blue: #428bca;
$green: #5690ca;
$orange: #dd845a;

// Darken
$darken: rgba(0,0,0,.03125);

// Brand colors
$brand-color--primary: $orange;
$brand-color--secondary: $green;
$brand-color--tertiary: $blue;

// Text colors
$text-color: $dark-gray;
$text-color--light: $light-gray;

// Link colors
$link-color: $brand-color--primary;
$link-color--hover: darken($brand-color--primary, 10%);
$link-color--active: darken($brand-color--primary, 25%);

// Border colors
$border-color: $light-gray;

// Code colors
$code-color: $gray;
$code-background-color: $lightest-gray;


// Spaces
// -----------------------------------------------------------------------------
$space-1: $baseline*2;
$space-2: $baseline*5;
$space-3: $baseline*8;
$space-4: $baseline*11;

// Specific margins
$body-text-bottom-margin: $space-2;
$heading-text-bottom-margin: $body-text-bottom-margin;


// Design elements
// -----------------------------------------------------------------------------
// Button padding
$button-padding--large: $baseline*3 $baseline*4;
$button-padding--medium: $baseline*1.5 $baseline*5;
$button-padding--small: 0 $baseline*2;

// Form padding
$ui-padding--large: $baseline*3 $baseline*3;
$ui-padding--medium: $baseline $baseline;
$ui-padding--small: 0 $baseline;

// Borders
$border-style: solid;
$border-radius: 3px;
$border-color:  $lightest-gray;
$button-border-radius: 27px;

// Animations
$fade: .1s ease-out;
